[package]
name = "sleek-ui"
version = "1.0.0"
edition = "2024"

[lib]
name = "sleek_ui_lib"
crate-type = ["cdylib"]

[dependencies]
dotenv = "0.15.0"
slint = { version = "1.14.1", features = ["renderer-skia"] }

[target.'cfg(target_family = "wasm")'.dependencies]
wasm-bindgen = { version = "0.2" }

[build-dependencies]
slint-build = "1.14.1"

[profile.dev]
incremental = true

[profile.release]
codegen-units = 1
lto = true
opt-level = "s"
panic = "abort"
strip = true
